@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@font-face {
    font-family: 'Myriad Pro';
    src: url('../font/myriad/MYRIADPRO-REGULAR.woff');
}

@font-face {
    font-family: 'Avenir Next';
    src: url('../font/avenir/AvenirNextRoundedStd-Reg.woff');
}
@font-face {
    font-family: 'sans';
    src: url('../font/google-sans/ProductSans-Regular.ttf');
}


