html {scroll-behavior: smooth;}
body{font-family: "Open Sans";}
.align-self-start {align-self: flex-start;}
.align-self-center{align-self: center;}
section{margin: 0 28px;}

/* nav start  */
nav{
    padding: 10px;
    display: flex;
    gap: 10px;
    align-items: start;
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    left: 0;
    background-color: #fff;
}
.nav-icon, .sidebar-icon{
    background-color: transparent;
    border: none;
    font-size: 1.3em;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .2s;
}
.nav-icon:hover{
   box-shadow: 0 0 0 2px #1a73e8;
}
#nav-logo, .sidebar-logo{
    padding: 8px 0;
    display: flex;
}
#nav-logo svg, .sidebar-logo svg{
    height: 29px;
}
#nav-logo span, .sidebar-logo span{
    font: 400 1.375rem "Open Sans";
    color: #5f6368;
    padding-left: 5px;
    margin-top: -2px;
}
#nav-account{
    margin-left: auto;
}
#nav-account img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
#nav-account li:nth-child(1), #nav-account li:nth-child(2){
    display: none;
}
#nav-menu{
    display: none;
}
/* nav end  */
/* sidebar start  */
#sidebar{
    padding: 15px;
    position: absolute;
    inset: 0;
    background-color: #fff;
    height: 100vh;
    transform: translateX(-300%);
    transition: .4s;
    z-index: 100;
}
.sidebar-head {
    display: flex;
    position: fixed;
    z-index: 102;
    padding: 20px 16px 0 16px;
    height: 8vh;
    top: 0;
    right: 0;
    left: 0;
    background-color: #fff;
}
.sidebar-logo{
    padding-left: 10px;
}
.sidebar-icon{
    justify-content: flex-start;
}
.sidebar-body{
    padding: 80px 6px 10px 6px;
}
.sidebar-body li button{
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: transparent;
    border: none;
    padding: 10px 0;
    font-size: 1.25rem;
    font-weight: 400;
    color: #5f6368;
    transition: .4s;
}
.sidebar-body li button:hover{
    color: #185abc;
}
.sidebar-footer{
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 102;
    height: 20vh;
    background-color: #fff;
    padding: 10px 10px 15px 10px;
    box-shadow: 0 -1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
}
.sidebar-footer button{
    display: block;
    margin-top: 10px;
    width: 100%;
    border: none;
    padding: 12px 24px;
    font: 500 1rem "Open Sans";
    cursor: pointer;
    border-radius: 5px;
    transition: .4s;
}
.sidebar-footer li:nth-child(1) button{
    color: #fff;
    background-color: #1a73e8;
}
.sidebar-footer li:nth-child(1) button:hover{
    background-color: #185abc;
}
.sidebar-footer li:nth-child(2) button{
    color: #1a73e8;
    background-color: #fff;
    border: 1px solid #ddd;
}
.sidebar-footer li:nth-child(2) button:hover{
    border-color: #185abc;
}
.overview, .solutions, .partners, .resources{
    position: absolute;
    inset: 0;
    background-color: #fff;
    z-index: 99;
    padding: 65px 0;
    transform: translateX(-300%);
    transition: .4s;
}
.overview button, .solutions button, .partners button, .resources button{
    display: flex;
    align-items: center;
    width: 90%;
    padding: 12px 21px;
    background-color: transparent;
    border: none;
    font-size: 1.25rem;
    font-weight: 400;
    transition: .2s;
    cursor: pointer;
    margin-bottom: 20px;
}
.overview button:hover, .solutions button:hover, .partners button:hover, .resources button:hover{
    background-color: #f1f1f1;
    border-radius: 0 50px 50px 0;
}
.overview button span, .solutions button span, .partners button span, .resources button span{
    margin-right: 40%;
}
.drop-content{
    background-color: #f1f1f1;
    height: 62vh;
    overflow-y: auto;
    padding: 14px 20px;
}
.drop-content h3{
    font: 500 1rem "Open Sans";
    color: #80868b;
    padding-bottom: 15px;
    padding-left: 2px;
    border-bottom: 1px solid #ddd;
}
.drop-content ul{
    padding-left: 2px;
    padding-top: 10px;
}
.drop-content ul li a{
    display: block;
    margin-bottom: 20px;
    color: #5f6368;
    font: 500 1rem "Open Sans";
    transition: .4s;
}
.drop-content ul li a:hover{
    color: #185abc;
}
.dropdown{
    display: none;
}
/* sidebar end  */
/* header start  */
header{
    position: relative;
    text-align: center;
    height: 100vh;
    margin-top: 100px;
}
header h1{
    position: absolute;
    top: 18%;
    left: 0;
    right: 0;
    text-align: center;
    font: 700 45px "Open Sans";
}
header ul{
    position: absolute;
    top: 37%;
    left: 50%;
    transform: translate(-50%, -50%);
}
header ul li{
    margin-bottom: 70px;
    font: 700 45px "Open Sans";
    width: 250px;
    color: #1A73E8;
}
header span {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    display: inline-block;
    width: 300px;
    height: 300px;
    background-color: #D2E3FC;
    border-radius: 50%;
}
#hero-btn{
    position: absolute;
    top: 55%;
    right: 15%;
    color: #fff;
    background-color: #000;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    cursor: pointer;
}
header p{
    position: absolute;
    top: 70%;
    left: 16px;
    right: 16px;
    font: 400 1.125rem "Open Sans";
    line-height: 1.8em;
    color: #3c4043;
}
#start-btn{
    display: none;
}
/* header end  */
/* main start  */
#section2{
    position: relative;
    padding: 150px 0 100px 0;
    text-align: center;
}
#section2::before{
    content: '';
    position: absolute;
    inset: 0;
    background:linear-gradient(180deg, rgba(241, 243, 244, .5), hsla(0, 0%, 100%, 0) 34.52%);
    z-index: -1;
    height: 676px;
    border-radius: 100% 100% 0 0;
}
#section2 h2{
    font: 500 1.75rem "Open Sans";
    margin-bottom: 20px;
}
#section2 section>button{
    padding: 12px 21px;
    background-color: white !important;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: #1A73E8;
    font: 500 1rem "Open Sans";
    margin-bottom: 30px;
    cursor: pointer;
    transition: .4s;
}
#section2 section>button:hover{
    background-color: #e4eefc !important;
    color: #174ea6;
    border-color: #1a73e8;
    box-shadow: 0 0 0 2px #1a73e8;
}
#goals ul li{
    display: flex;
    gap: 15px;
    width: 95%;
    margin: auto;
    text-align: initial;
    margin-bottom: 20px;
}
.sec2-text h4{
    font: 400 1.25rem "Open Sans";
    margin-bottom: 10px;
}
.sec2-text p{
    color: #5f6368;
    font: 400 1rem "Open Sans";
}
#section2 h3{
    margin: 30px 0 10px 0;
    font: 500 1.75rem "Open Sans";
}
#section2 h3 span{
    color: #1a73e8;
}
.slide1{
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 0 20px 20px 20px;
}
.slide1-text {
    margin-top: 20px;
}
.slide1-text h5{
    font: 500 1.25rem "Open Sans";
    margin-bottom: 10px;
}
.slide1-text p{
    color: #5f6368;
    font: 400 1rem "Open Sans";
    line-height: 1.5em;
}
#business{
    display: none;
}
#section3 {
    background-color: #E8F0FE;
    padding: 50px 0;
    text-align: center;
}
#section3 h2{
    font: 500 1.75rem "Open Sans";
    margin-bottom: 20px;
}
#section3 section>button{
    padding: 12px 21px;
    color: #1A73E8;
    border: 1px solid #ddd;
    background-color: #fff;
    font: 500 1rem "Open Sans";
    cursor: pointer;
    transition: .4s;
    margin-bottom: 50px;
}
#section3 section>button:hover{
    background-color: #e4eefc;
    border-color: #1a73e8;
    box-shadow: 0 0 0 2px #1a73e8;
    color: #174ea6;
}
#slider2{
    width: 90%;
    margin: auto;
}
.slide2{
    background-color: #fff;
    overflow: hidden;
    border-radius: 10px;
    padding-bottom: 40px;
}
.slide2-text{
    margin-top: -35px;
    padding: 0 10px;
}
.slide2-text img{
    border-radius: 50%;
}
.pag{
    display: none;
}
.slide2-text h5{
    font: 500 30px "Open Sans";
    color: #0d652d;
    margin-bottom: 40px;
}
.slide2-text h5>span{
    font: 400 1rem "Open Sans";
    display: block;
}
.slide2-text h3{
    font: 500 1.25rem "Open Sans";
    margin-bottom: 10px;
}
.slide2-text p{
    font: 400 1rem "Open Sans";
    color: #202124;
    margin-bottom: 20px;
}
.slide2-text>button{
    color: #1A73E8;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    gap: 10px;
    margin: auto;
}
.slide2-text>button span{
    display: flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    background-color: #1A73E8;
    border-radius: 50%;
    font-size: 2em;
    color: #fff;
    transition: .4s
}
.slide2-text>button:hover span{
    background-color: #E8F0FE;
    color: #185abc;
}
.slide2-text>button a{
    align-self: center;
    font: 500 1rem "Open Sans";
    color: #1A73E8;
    transition: .4s
}
.slide2-text>button:hover a{
    color: #185abc;
}
#section1-mob{
    padding: 0 0 50px 0;
}
#section1-mob h2{
    text-align: center;
    margin-bottom: 35px;
    font: 500 1.75rem "open Sans";
}
#sec1-slider-mob{
    overflow: hidden;
}
.slide3{
    width: 33.33%;
}
.swiper2 button{
    display: flex;
    padding: 12px 21px;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    background-color: transparent;
    cursor: pointer;
    color: #5f6368;
    border: 1px solid #5f6368;
    font: 400 1rem "Open Sans";
    transition: .4s;
}
/* .swiper2 button:hover{
    background-color: #dadce0;
} */
#sec1-mob-content{
    margin-top: 30px;
}
#sec1-mob-content button{
    display: flex;
    color: #1A73E8;
    transition: .4s;
    cursor: pointer;
    align-items: center;
    gap: 10px;
    background-color: transparent;
    border: none;
    margin: 20px auto;
    font-size: 1rem;
    font-weight: 500;
}
.content-mob-li{
    text-align: center;
}
#sec1-mob-content button:hover{
    color: #185abc;
}
#sec1-mob-content button span{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1A73E8;
    color: #fff;
    border-radius: 50%;
}
.content-mob-li h3{
    font: 500 1.5rem "Open Sans";
    margin-bottom: 20px;
}
.content-mob-li p{
    line-height: 1.5em;
    font: 400 1rem "Open Sans";
}
.content-mob-img img{
    width: 100%;
}
#sec1-mob-content li{
    display: none;
}
#sec1-mob-content li:first-child{
    display: block;
}
/* main end  */
/* footer start  */
.container{
    margin: 0 28px;
}
footer{
    background-color: #F8F9FA;
    padding: 30px 0 50px 0;
    margin-top: 100px;
}
.footer-top h4{
    font: 500 1rem "Open Sans";
    margin-bottom: 20px;
    padding-left: 20px;
}
#social-link{
    display: flex;
    gap: 20px;
}
#social-link li{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .4s;
}
#social-link li:hover{
    background-color: #E8EAED;
}
.footer-top{
    border-bottom: 1px solid #dadce0 ;
}
.footer-content{
    padding: 40px 0;
    border-bottom: 1px solid #dadce0;
}
#accordion>li:nth-child(1){
    border-top: 1px solid #dadce0;
}
#accordion>li>button{
    display: block;
    width: 100%;
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    align-items: center;
    padding: 30px 0;
    border-bottom: 1px solid #dadce0;
}
#accordion>li>button>i{
    font-size: 1.5em;
    transition: .4s;
}
.accordion-item{
    position: relative;
    z-index: -1;
    height: 0 ;
    opacity: 0;
}
.accordion-item li{
    padding: 20px 0;
}
.accordion-item li a{
    color: #5f6368;
    font: 500 1rem "Open Sans";
    transition: .4s;
}
.accordion-item li a:hover{
    color: #202124;
}
.footer-bottom{
    padding: 40px 0;
}
.footer-bottom h4{
    font: 400 1rem "Open Sans";
    margin-bottom: 30px;
}
.footer-menu a{
    display: inline-block;
    margin-bottom: 20px;
}
.footer-menu ul{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.footer-menu ul li{
    margin-right: 30px;
}
.footer-menu ul li a{
    color: #5f6368;
    font: 500 1rem "Open Sans";
}
#help{
    display: flex;
    gap: 10px;
    border: none;
    background-color: transparent;
    align-items: center;
    font: 500 1rem "Open Sans";
    color: #5f6368;
    cursor: pointer;
    margin-bottom: 30px;
}
#help svg{
    vertical-align: middle;
}
.footer-end select{
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    font: 500 1rem "Open Sans";
    color: #5f6368;
    cursor: pointer;
}
#fixed-btn{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 10vh;
    background-color: #fff !important;
    z-index: 100;
    padding: 10px;
}
#fixed-btn button{
    width: 100%;
    display: block;
    cursor: pointer;
    background-color: #1A73E8;
    color: #fff;
    font: 400 1rem "Open Sans";
    border: none;
    border-radius: 5px;
    height: 100%;
    transition: .4s;
}
#fixed-btn button:hover{
    background-color: #185abc;
}
.footer-links{
    display: none;
}
#section1-des{
    display: none;
}
/* footer end  */
@media only screen and (min-width: 600px) {
    section, .container{
        margin: 0 40px;
    }
    #section2::before{
        height: 1317px;
    }
    #goals ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 80%;
        margin: auto;
    }
    #goals ul li{
        flex-direction: column;
        align-items: center;
        gap: 15px;
        width:33%;
        margin: 0;
        text-align: center;
        margin-bottom: 40px
    }
    #section2 h2{
        font-size: 2.5rem;
    }
    #slider-mob1{
        display: none;
    }
    #section2 h3{
        font-size: 2.5rem;
    }
    #business{
        display: block;
    }
    #business li{
        display: flex;
        gap: 30px;
        text-align: initial;
        margin-bottom: 30px;
    }
    .business-text h5{
        font: 500 1.25rem "Open Sans";
        margin-bottom: 10px;
    }
    .business-text p{
        font: 400 1rem "Open sans";
        color: #5f6368;
    }
    .footer-content{
        display: none;
    }
    .footer-links{
        display: flex;
        flex-wrap: wrap;
        padding: 20px 0;
        border-bottom: 1px solid #dadce0    ;
    }
    .footer-links ul{
        width: 20%;
        padding: 10px;
        overflow: hidden;
    }
    .footer-links ul li{
        margin-bottom: 20px;
        font: 500 1rem "Open Sans";
    }
    .footer-links ul li a{
        color: #5f6368;
        font: 500 1rem "Open Sans";
        transition: .4s;
    }
    .footer-links ul li a:hover{
        color: #202124;
    }
    #fixed-btn{
        display: none !important;
    }
    .footer-end, .footer-menu{
        display: flex;
        gap: 10px;
    }
    .footer-menu ul{
        gap: 10px;
    }
    .footer-menu li{
        margin: 0 !important;
    }
    .footer-end button{
        margin: 0 !important;
    }
    #sec1-mob-content{
        width: 80%;
        margin: auto;
    }
    #section1-mob h2{
        font-size: 2.5rem;
    }
    .content-mob-li h3{
        font-size: 2rem;
    }
    .content-mob-li p{
        font-size: 1rem;
        line-height: 1.5em;
    }
}
@media only screen and (min-width: 1024px) {
    section, .container{
        margin: 0 60px;
    }
    /* nav start  */
    nav{
        height: 68px;
    }
    .nav-icon{
        display: none;
    }
    #nav-account ul{
        display: flex;
        gap: 10px;
    }
    #nav-account li:nth-child(1), #nav-account li:nth-child(2){
        display: block;
        align-self: center;
    }
    #nav-account li button{
        padding: 12px 21px;
        font: 500 1rem "Open Sans";
        border: none;
        border-radius: 5px;
        transition: .4s;
        cursor: pointer;
    }
    #nav-account li:nth-child(1) button{
        background-color: transparent;
        color: #1a73e8;
        border: 1px solid #ddd;
    }
    #nav-account li:nth-child(1) button:hover{
        border-color: #1a73e8;
    }
    #nav-account li:nth-child(2) button{
        background-color: #1a73e8;
        color: #fff;
    }
    #nav-account li:nth-child(2) button:hover{
        background-color: #185abc;
    }
    #nav-menu{
        display: flex;
        align-self: center;
        gap: 20px;
        margin-left: 2vw;
    }
    #nav-menu>li>a{
        color: #5f6368;
        font: 500 1em "Open Sans";
        transition: .4s;
        display: flex;
        align-items: center;
        height: 68px;
    }
    #nav-menu a:hover{
        color: #185abc;
    }
    .dropdown{
        width: 100%;
        /* background-color: #99999980; */
        z-index: 100;
        position: absolute;
        top: 66px;
        left: 0;
        right: 0;
        /* height: 100vh; */
    }
    #nav-menu li:hover .dropdown{
        display: block;
    }
    .drop-main{
        background-color: #fff;
        padding: 30px 80px;
    }
    .drop-main h4{
        font: 400 1rem "Open Sans";
        color: #5f6368;
        padding: 0 0 20px 0;
        border-bottom: 1px solid #dadce0;
    }
    .drop-main ul{
        padding: 20px 0;
    }
    .drop-main li a{
        color: #5f6368;
        font: 400 1rem "Open Sans";
        display: inline-block;
        margin-bottom: 20px;
    }
    .drop-cnt{
        display: flex;
        gap: 50px;
    }
    .drop-cnt ul{
        margin-right: 200px;
    }
    /* nav end  */
    /* header start  */
    header span{
        right: 0px;
        left: 75%;
        transform: translate(auto, auto);
        top: 30%;
    }
    header h1{
        top: 40%;
        font-size: 120px;
    }
    #hero-btn{
        top: 60%;
        right: 30px;
        z-index: 2;
    }
    header ul{
        display: flex;
        justify-content: center;
        top: 15%;
        right: 0px;
        left:-90px;
        transform: translate(0, 0);
        gap: 50px;
    }
    header ul li{
        font-size: 120px;
        margin: 0;
        width: auto;
    }
    #start-btn{
        display: block;
        background-color: #1A73E8;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 12px 21px;
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: .4s;
        cursor: pointer;
        font: 500 1rem "Open Sans";
    }
    #start-btn:hover{
        background-color: #185abc;
    }
    /* header end  */
    #section2 h2{
        font-size: 3rem;
    }
    #section2::before{
        height: 1454px;
    }
    #section2 h3{
        font-size: 3rem;
    }
    #business ul{
        width: 70%;
        margin: auto;
    }
    #section3{
        padding-bottom: 150px;
    }
    #slider2{
        width: 70%;
        position: relative;
    }
    .slide2{
        display: flex;
        padding: 0;
        position: relative;
    }
    .slide2-text{
        margin-top: 0;
        padding: 20px;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        min-height: 300px;
    }
    .slide2-text img{
        border-radius: 0;
    }
    .slide2-img {
        width: 50%;
    }
    .slide2-img img{
        height: 100%;
    }
    .pag{
        display: block;
        bottom: -70px !important;
        background-color: transparent;
    }
    .swiper-pagination-bullet{
        background-color: transparent !important;
        border: 1px solid #000 !important;
        height: 13px !important;
        width: 13px !important;
    }
    .slide2-text h5{
        position: absolute;
        left: 20px;
        bottom: -10px;
        padding: 10px;
        border-radius: 10px;
        background-color: #fff;
    }
    .slide2-text h3{
        font-size: 1.5rem;
    }
    .slide2-text p{
        font-size: 1rem;
    }
    .slide2-text>button{
        margin: 0;
        flex-direction: column;
        align-items: center;
    }
    .ftr{
        display: flex;
        justify-content: space-between  ;
        align-items: center;
    }
    .footer-menu{
        width: 60%;
    }
    .footer-end{
        width: 40%;
    }
    .ftr ul, .ftr a{
        margin: 0 !important;
    }
    #section1-des{
        width: 80%;
        margin: auto;
        display: block;
    }
    #section1-mob{
        display: none;
    }
    .des-img li, .des-content li{
        display: none;
    }
    .des-img li:first-child, .des-content li:first-child{
        display: block;
    }
    #section1-des h2{
        font: 500 3rem "Open Sans";
        text-align: center;
        margin-bottom: 36px;
    }
    #des-flex{
        display: flex;
        justify-content: space-between;
    }
    .des-btn{
        width: 20%;
        padding-right: 10px;
        align-self: center;
    }
    .des-btn button{
        padding: 12px 21px;
        border: 1px solid #dadce0;
        font: 400 1rem "Open Sans";
        margin-bottom: 12px;
        border-radius: 50px;
        display: flex;
        gap: 10px;
        align-items: center;
        cursor: pointer;
        background-color: transparent;
        width: 150px;
    }
    .des-img{
        width: 50%;
        padding: 0 10px;
    }
    .des-content{
        width: 30%;
        padding-left: 10px;
        align-self: center;
    }
    .des-img img{
        width: 100%;
    }
    .des-content h3{
        font: 500 2.25rem "Open sans";
        margin-bottom: 10px;
    }
    .des-content p{
        font: 400 1rem "Open Sans";
        line-height: 1.5em;
        margin-bottom: 20px;
    }
    .des-content button{
        background-color: transparent;
        border: none;
        color: #1A73E8;
        cursor: pointer;
        font: 400 1rem "Open Sans";
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 12px 0;
    }
    .des-content button span{
        display: flex;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background-color: #1A73E8;
        color: #fff;
        align-items: center;
        justify-content: center ;
    }
}
@media only screen and (min-width: 1440px) {
    section, .container{
        margin: 0 auto;
        max-width: 1296px;
    }
    header ul{
        left: 9%;
    }
    #hero-btn{
        top: 52%;
        right: 15%;
        z-index: 2;
    }
    #section2::before{
        height: 1596px;
    }
    .slide2-text h3{
        font-size: 36px;
    }
    .slide2-text p{
        font-size: 18px;
    }
    #section1-des{
        width: 60%;
    }
    .des-btn{width: 40%;}
    .des-content{width: 40%;}
}